:root {
    --bg-liight: #FFFEFB;
    --principal: #80CCBA;
}

*{
    font-family: 'Questrial', sans-serif;
}



/*Menu*/

/*
sidebar-menu {
    position: absolute;
    background: #FF5959;
    width: 30%;
    height: 100vh;
    top:0; left: 0;

}*/

.cont-menu {
    max-width: 250px;
    background: #80CCBA;
    height: 100vh;
    position: relative;
}

.cont-menu {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    padding-top: 50px;
}

.cont-menu a{
    text-decoration: none;
    padding-top: 300px;
    padding: 20px;
    color: #FFFEFB;
    border-left: 5px solid transparent;

}


.salir {
    display: block;
    margin-top: 200px;

}




/*Buscador*/


.bienv {
    position: absolute;
    height: 30px;
    left: 350px;
    top: 50px;

}


.cont{
    font-size: 20px;

}

input, textarea{
    font-family: 'Questrial', sans-serif;
    border: none;
    background-color: #D9D9D9;
    border-left: 20px solid;
    border-color: #D9D9D9;
}

input:focus , textarea:focus {
    outline: none;
    border-left: 20px solid;
    border-color: #D9D9D9;

}







/*Opciones para buscar*/


    /*hospitales*/

.hosp {
    position: absolute;
    width: 134px;
    height: 51px;
    left: 422px;
    top: 250px;

    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: #000000;


}

/*hospitales scroll*/

.container-hosp {

    position: absolute;
    width: 1500px;
    height: 121px;
    left: 340px;
    top: 320px;

}

.scrolling-wrapper{
	overflow-x: auto;
}

  
.container-hosp > .row > .col-xs-4 {
    display: inline-block;
    float: none;
    background: #80ccbabb;
    width: 280px;
    height: 120px;
    margin-right: 20px;
}
  

.col-xs-4 {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 18px;
    text-decoration: none;
    
}


    /*tipos de sangre*/

.ts {
        position: absolute;
        width: 182px;
        height: 51px;
        left: 422px;
        top: 570px;
    
        font-family: 'Questrial';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    
        color: #000000;
    
    }


/*scroll tipos de sangre*/ 

    .scrolling-wrapper{
        overflow-x: auto;
    }


    .container-tiposg {
        position: absolute;
        width: 1500px;
        height: 121px;
        left: 340px;
        top: 640px;
    }
    
    .scrolling-wrapper1{
        overflow-x: auto;
    }
    
      
    .container-tiposg > .row > .col-xs-4 {
        display: inline-block;
        float: none;
        background: #80ccbabb;
        width: 280px;
        height: 120px;
        margin-right: 20px;
    }
      
    
    .col-xs-4 {
        color: white;
        font-size: 24px;
        padding-bottom: 20px;
        padding-top: 18px;
        
    }


/*boton de filtros*/
.btn-custom {
    background-color: #80CCBA;
    color: #fff;
  }
  
  
